.ta-center{
    text-align: center;
}
.craft-hero-h1{
    width: 70%;
    margin-left: 16%;
    margin-top: 27%;
    font-size: 60px;
    line-height: 65px;
    word-spacing: -0.03em;
}
.UI{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25%;
}
.UI-cont{
    width: 33%;
    margin-left: 90px;
}
.color-grey{
    color: #a0a0a0;
}
.explore-h1{
    font-size: 60px;
    margin-left: 10%;
}
.explore-para{
    width: 38%;
    margin-left: 10%;
    margin-top: 30px;
    font-size: 15px;
    font-family: graphik;
    color: #a0a0a0;
    line-height: 23px;
}
.ex-link{
    display: flex;
    margin-left: 9%;
    margin-top: 70px;
}
.explore-lnks{
    font-size: 23px;
    margin: 10px;
    color: #a0a0a0;
}
.color-link{
    color: white;
    text-shadow: 0px 0px 10px white;
}
.insight{
    margin-left:27% ;
}
.insight-h1{
    font-size: 60px;
    margin-bottom: 80px;
}
.insight-container{
    display: flex;
    width: 23%;
    gap: 9em;
    margin-bottom: 17%;
}
.insight-mini{
    text-align: center;
}
.insight-img{
    width: 285px;
}
.ins-mini-h1{
    font-size: 27px;
    margin: 15px 0px;
    color: #cccccc;
}
.ins-mini-para{
    font-size: 15px;
    line-height: 23px;
    font-family: graphik;
    color: #929292;
    width: 250px;
    margin-left: 17px;
    margin-bottom: 35px;
}
.mini-links{
    font-size: 17px;
    font-family: graphik;
    color: #6a6969;
}
.process{
    height: 70vh;
    width: 78%;
    margin: 20vh 12%;
}
.process-h1{
    font-size: 60px;
    margin: 70px 0px;
}
.phase-span{
    color: #7c7b7b;
    font-size: 40px;
    margin-right: 7px;
}
.phase-h1{
    font-size: 28px;
    margin-bottom: 25px;
}
.flow{
    font-size: 15px;
    font-family: graphik;
    color: #777676;
}
.atr{
    width: 30px;
    margin: 0px 15px;
    position: relative;
    top: 5px;
}
.insight-hr{
    margin: 60px 0px;
    border: 1px solid #acaaaa;
}
.phase2{
    text-align: right;
}