.down {
  font-family: graphik;
  //   border-radius: 25px;
  color: #848484;
  width: 50%;
}

.butt {
  height: 100px;
  width: 100px;
  border: 2px solid #000;
  border-radius: 50%;
  color: #000;
  font-weight: 600;
  bottom: 5%;
  right: 35%;
}
.img121 {
  position: relative;
  // background-image: url("../../Home/images/image\ 17.svg");
  // background-image: url("../../Home/images/image\ 3.svg");
  background-image: url("../../Home/images/image\ 5.svg");

  width: 300px;
  height: 300px;
  background-size: 550px;
  background-repeat: no-repeat;
  background-position: -210px -70px;
  transition: 0.5s;
}
.img211 {
  background-image: url("../../Home/images/image\ 17.svg");
  // background-image: url("../../Home/images/image\ 17.svg");

  // background-image: url("../../home/images/image\ 17.svg");

  width: 300px;
  height: 300px;
  background-size: 1080px;
  background-repeat: no-repeat;
  background-position: -430px -100px;
  transition: 0.5s;
}
.img311 {
  // background-image: url("../../home/images/image\ 3.svg");
  background-image: url("../../Home/images/image\ 4.svg");

  width: 300px;
  height: 300px;
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: -150px 12px;
  transition: 0.5s;
}
.img411 {
  background-image: url("../../Home/images/image\ 11.svg");
  // background-image: url("../images/Group\ 28.svg");

  width: 300px;
  height: 300px;
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: -150px 12px;
  transition: 0.5s;
}
.img412 {
  background-image: url("../../work/images/image\ 17\ \(1\).png");
  // background-image: url("../images/Group\ 28.svg");

  width: 300px;
  height: 300px;
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: -50px 12px;
  transition: 0.5s;
}
.img413 {
  background-image: url("../../work/images/image\ 17\ \(4\).png");
  // background-image: url("../images/Group\ 28.svg");

  width: 300px;
  height: 300px;
  // background-size: 500px;
  // background-repeat: no-repeat;
  // background-position: -150px 12px;
  transition: 0.5s;
}
.img414 {
  background-image: url("../../services/images/unsplash_QRWAdBCqysc.svg");
  // background-image: url("../images/Group\ 28.svg");

  width: 300px;
  height: 300px;
  // background-size: 500px;
  // background-repeat: no-repeat;
  // background-position: -150px 12px;
  transition: 0.5s;
}
.img415 {
  background-image: url("../../services/images/unsplash_Im7lZjxeLhg.svg");
  // background-image: url("../images/Group\ 28.svg");

  width: 300px;
  height: 300px;
  // background-size: 500px;
  // background-repeat: no-repeat;
  // background-position: -150px 12px;
  transition: 0.5s;
}
.img416 {
  background-image: url("../../services/images/unsplash_9Trha5ptc-c.svg");
  // background-image: url("../images/Group\ 28.svg");

  width: 300px;
  height: 300px;
  // background-size: 500px;
  // background-repeat: no-repeat;
  // background-position: -150px 12px;
  transition: 0.5s;
}
.hideehome:hover {
  transform: scale(1.4);
  transition: 0.5s ease-in;
}
@media (max-width: 768px) {
  .down {
    font-family: graphik;
    //   border-radius: 25px;
    color: #848484;
    width: 100%;
  }
  .img121 {
    // position: relative;
    width: 310px;
    height: 200px;
    // background-size: 1680px;
    // background-repeat: no-repeat;
    // background-position: -630px -100px;
    // transition: 0.5s;
  }
  .img211 {
    width: 310px;
    height: 200px;
  }
  .img311 {
    // background-image: url("../../../public/images/shoe.jpg");
    width: 310px;
    height: 200px;
    // background-size: 580px;
    // background-repeat: no-repeat;
    // background-position: -150px 12px;
    // transition: 0.5s;
  }
}

.carousel-container {
  width: 100%;
  overflow-x: scroll;
}

.carousel-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw / 3);
  height: 200px;
  transition: transform 0.5s ease-in-out;
}

// .casee:hover {
//   transform: scale(1.3);
// }
