.custom-cursor {
  position: fixed;
  left: 100px;
  width: 100px;
  height: 100px;
  pointer-events: none;
  z-index: 100;
}

.custom-cursor-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.custom-cursor-text {
  color: white;
  font-size: 14px;
  font-family: Arial, sans-serif;
  z-index: 100;
}

.baorder {
  height: 20px;
  width: 100px;
  opacity: 0.5;
  border-bottom: 2px solid #4e4949;
}
.carousel-container {
  width: 100%;
  overflow-x: scroll;
}
// .circle {
//   cursor: default;
// }
.carousel-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw / 3);
  height: 200px;
  transition: transform 0.5s ease-in-out;
}
.cass:hover {
  // transform: scale(1.6);
}
.click {
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.hideehome:hover .click {
  // opacity: 1;
}

.section1 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section2 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.down {
  font-family: graphik;
  color: #848484;
  width: 50%;
}

.butt {
  height: 100px;
  width: 100px;
  border: 2px solid #000;
  border-radius: 50%;
  color: #000;
  font-weight: 600;
  bottom: 5%;
  right: 35%;
}
.img121 {
  position: relative;
  // background-image: url("../../Home/images/image\ 5.svg");
  background-image: url("../../home/images/image\ 5.svg");

  width: 470px;
  height: 300px;
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: -150px -70px;
  transition: 0.5s;
}
.img211 {
  background-image: url("../../home/images/image\ 17.svg");
  // background-image: url("../../Home/images/image\ 17.svg");

  width: 470px;
  height: 300px;
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: -100px 00px;
  transition: 0.5s;
}
.img311 {
  background-image: url("../../home/images/image\ 3.svg");
  // background-image: url("../../Home/images/image\ 3.svg");

  width: 470px;
  height: 300px;
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: -150px -212px;
  transition: 0.5s;
}
.img411 {
  background-image: url("./images/image\ 24.svg");
  width: 470px;
  height: 300px;
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: -150px 12px;
  transition: 0.5s;
}
.img412 {
  // background-image: url("../../work/images/image\ 17\ \(1\).png");
  background-image: url("./images/image\ 26.svg");
  width: 470px;
  height: 300px;
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: -20px -12px;
  transition: 0.5s;
}
.img413 {
  background-image: url("./images/image\ 27.svg");
  // background-image: url("../images/Group\ 28.svg");
  width: 470px;
  height: 300px;
  background-size: 680px;
  background-repeat: no-repeat;
  background-position: -205px -225px;
  transition: 0.5s;
}

.img414 {
  background-image: url("../../work/images/image\ 17\ \(1\).png");
  // background-image: url("../images/Group\ 28.svg");

  width: 470px;
  height: 300px;
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: -50px 12px;
  transition: 0.5s;
}
.img415 {
  background-image: url("../../work/images/image\ 17\ \(2\).png");
  // background-image: url("../images/Group\ 28.svg");

  width: 470px;
  height: 300px;
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: -0px -112px;
  transition: 0.5s;
}
.img416 {
  background-image: url("../../work/images/Mask\ group\ 1.png");
  // background-image: url("../images/Group\ 28.svg");
  width: 470px;
  height: 300px;
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: -170px -112px;
  transition: 0.5s;
}
.hideehome {
  transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.ySwiper {
  padding-bottom: 40px;
  padding-top: 20px;
}
.hideehome:hover {
  transform: scale(1.1);
  // width: 550px;
  transition: 0.2s ease-in;
}
@media (max-width: 768px) {
  .down {
    font-family: graphik;
    //   border-radius: 25px;
    color: #848484;
    width: 100%;
  }
  .img121 {
    // position: relative;
    width: 310px;
    height: 200px;
    // background-size: 1680px;
    // background-repeat: no-repeat;
    // background-position: -630px -100px;
    // transition: 0.5s;
  }
  .img211 {
    width: 310px;
    height: 200px;
    background-position: -200px 00px;
  }
  .img311 {
    width: 350px;
    height: 200px;
    background-position: -150px -252px;
  }
  .img411 {
    width: 350px;
    height: 200px;

    background-position: -210px -100px;
  }
  .img412 {
    width: 350px;
    height: 200px;
    background-position: -60px -62px;
    background-size: 450px;
  }
  .img413 {
    width: 350px;
    height: 200px;
    background-size: 450px;

    background-position: -10px -42px;
  }
  .img414 {
    width: 350px;
    height: 200px;
  }
  .img415 {
    width: 350px;
    height: 200px;
  }
  .img416 {
    width: 350px;
    height: 200px;
  }
  .hideehome:hover {
    transform: scale(1);
    // padding: 10px;
    // margin: 10px;
    width: 550px;
    transition: 0.2s ease-in;
  }
}
