.case-hero{
    height: 115vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.case-hero-h1{
    font-size: 78px;
    width: 60%;
    margin-left: 20%;
    line-height: 83px;
}
.case-hero-para{
    width: 36%;
    font-size: 15px;
    font-family: graphik;
    color: #848484;
    margin-left: 32%;
    line-height: 23px;
    margin-top: 20px;
}
.aussie{
    display: flex;
    justify-content: center;
    gap: 11em;
    margin-top: 100px;
}
.synopsis{
    display: flex;
    justify-content: center;
    margin-top: 155px;
}
.web{
    width: 40%;
}
.syn-content{
    width: 40%;
}
.syn-h1{
    font-size: 80px;
}
.syn-para{
    width: 75%;
    margin: 45px 0px;
    font-family: graphik;
    font-size: 15px;
    color: #848484;
    line-height: 23px;
}
.sp-btns{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    gap: 4.5em;
}
.sp-h1{
    font-size: 58px;
    text-align: center;
}
.sp{
    margin: 10%;
}
.sp-btn{
    font-size: 20px;
    font-family: graphik;
    color: #848484;
}
.timeline{
    margin-left: 9%;
    margin-top: 13%;
}
.timeline-h1{
    font-size: 60px;
    margin: 10px;
}
.timeline-para{
    font-size: 15px;
    color: #848484;
    font-family: graphik;
    width: 34%;
    line-height: 23px;
    margin: 30px 0px 75px 10px;
}
.graph{
    width: 65%;
    margin: 0px 0px 15% 13%;
}
.browse{
    margin-left: 9%;
    width: 85%;
}
.browse-h1{
    font-size: 60px;
    line-height: 70px;
    width: 90%;
    margin: 35px 0px;
}
.browse-container{
    display: flex;
    justify-content: space-between;
}
.browse-mini{
    width: 30%;
    margin-top: 75px;
    text-align: center;
}
.browse-img{
    width: 95%;
}
.img-detail-h1{
    font-size: 27px;
    margin: 20px;
}
.img-details{
    font-family: graphik;
    font-size: 15px;
    color: #6b6b6b;
}