.about-hero {
  height: 100vh;
}
.about-hero-h1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 68.7%;
  height: 176px;
  left: 9.6%;
  top: 452px;
  height: 176px;
  font-weight: 600;
  font-size: 75px;
  line-height: 88px;
  letter-spacing: -0.015em;
  text-transform: capitalize;
  color: #d8d6d6;
}
.intersect {
  width: 182px;
  position: absolute;
  opacity: 0;
}
.arrowanimate {
  position: relative;
  left: 210px;
  bottom: 60px;
  opacity: 0;
}
.circle11 {
  width: 182px;
  height: 182px;
  border-radius: 100%;
  border: 1px solid #cecece;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 1;
}
.circle20 {
  width: 182px;
  height: 182px;
  border-radius: 100%;
  border: 1px solid #cecece;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
}
.circles-animation {
  display: flex;
  justify-content: center;
  height: 300px;
  align-items: center;
}
.crewclass {
  margin-left: 9.6%;
}
.crewpara {
  color: #848484;
  font-family: graphik;
  font-weight: 100;
  opacity: 1;
  font-size: 20px;
  line-height: 30px;
}
.career-crew-btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
  gap: 10px;
  width: 140px;
  height: 42px;
  border: 1px solid #848484;
  border-radius: 72px;
  text-decoration: none;
  transition: 0.3s;
}
.career-crew-content {
  width: auto;
  height: auto;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.045em;
  font-family: graphik;
  font-weight: 100;
  color: #848484;
  padding-bottom: 4px;
}
.career-crew-btn:hover {
  background-color: #ffcd05;
  color: black;
  border: 1px solid #ffcd05;
  box-shadow: 0px 0px 38px 8px rgba(255, 225, 105, 0.28);
}
.career-crew-btn:hover .career-crew-content {
  color: black;
}
.strategist {
  width: 100%;
}
.core-container {
  padding: 120px 12.7%;
  display: flex;
  flex-direction: column;
  gap: 150px;
}
.core-para {
  font-size: 20px;
  line-height: 32px;
  font-family: graphik;
  font-weight: 100;
  color: #848484;
  opacity: 1;
}
.vision-container {
  display: flex;
  justify-content: space-between;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.visionh1 {
  font-size: 50px;
  font-weight: 600;
  color: #d8d6d6;
}
.vision-para {
  font-size: 32px;
  line-height: 42px;
  font-family: graphik;
  color: #848484;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.core-guiding-container {
  display: flex;
  gap: 7.5%;
}
.guiding-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position:sticky;
  top: 70px;
  height: 260px;
}
.image{
  display: none;
  margin-bottom: 20px;
}
.guiding-container-h1 {
  font-size: 35px;
  color: #d8d6d6;
  font-family: graphikthin;
  font-weight: 600;
}
.guiding-container-para {
  font-size: 20px;
  line-height: 30px;
  font-family: graphik;
  font-weight: 100;
  color: #848484;
  font-weight: 100;
}
.subcontainer-img {
  display: inline-block;
  width: 60px;
  margin-right: 20px;
  opacity: 0.7;
}
.subcontainer-h1 {
  display: inline-block;
  font-size: 35px;
  color: #d8d6d6;
  font-family: graphikthin;
  font-weight: 600;
}
.iframe-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
}
.iframe {
  width: 1900px;
  height: 1500px;
  position: absolute;
  top: -100px;
  right: 20px;
  transform: scale(1.4);
}
.subcontainer-para {
  font-size: 20px;
  line-height: 30px;
  font-family: graphik;
  font-weight: 100;
  letter-spacing: 0em;
  color: #848484;
  text-indent: 80px;
}
.about-case{
  width: 100%;
  overflow-x: scroll;
}
.guiding-subcontainer {
  width: 57%;
  display: flex;
  flex-direction: column;
  gap: 130px;
}
.crew-model {
  display: flex;
  justify-content: center;
  margin-top:100px ;
}
.crew-model-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.m-desc{
  display: flex;
  align-items: center;
}
.c-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 30px;
  gap: 0px;
  width: 746px;
  height: 280px;
  background: #111111;
  border-radius: 30px;
}
.dashboard-nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 10px;
  padding: 0px 150px;
  height: 50px;
  background-color: #ffffffe1;
  margin-top: 10px;
}
.dashboard-item{
  color: #ffcd05;
  font-family: graphik;
  font-size: 25px;
  text-shadow: 1px 1px 1px black;
}
.profile{
  width: 30px;
  height: 30px;
}
.dashboard-left-nav{
  height: 350px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 80px;
  position: fixed;
}
.dashboard-left-item{
  color: #d8d6d6;
  font-family: graphik;
  font-size: 18px;
  transition: 0.3s;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ffffffc6;
}
.dashboard-left-item:hover{
  background-color: #ffcd05;
  color: black;
  border-bottom: 1px solid #ffcd05;
}
.main{
  margin-left: 80px;
  width: calc(100% - 81px);
  padding-bottom: 50px;
  background-color: #1a1a1a;
  border-left: 1px solid #4f4f4f;
}
.title-{
  font-size: 40px;
  font-family: graphik;
  position: relative;
  left: 50px;
  top: 20px;
  width: 80px;
  white-space: nowrap;
}
.section{
  width: 90%;
  background-color: #ffffff;
  margin-top: 50px;
  margin-left: 50px;
  padding: 20px;
  border-radius: 13.4px;
}
.change-h1{
  color: #111111;
  font-family: graphik;
  margin-bottom: 10px;
}
.change-para{
  color: #111111;
  font-family: graphik;
  margin-bottom: 10px;
}
.sub-title{
  color: #111111;
  font-family: graphik;
  font-size: 23px;
  margin-bottom: 20px;
}
@media screen and (max-width: 1540px) and (min-width: 1441px) {
  .about-hero-h1 {
    top: 297px;
    height: 176px;
    font-size: 60px;
    line-height: 68px;
  }
  .guiding-container-para {
    font-size: 15px;
    line-height: 25px;
  }
  .subcontainer-para {
    font-size: 15px;
    line-height: 22px;
  }
  .core-container {
    padding: 120px 9.7%;
    gap: 70px;
  }
  .core-para {
    font-size: 15px;
    line-height: 25px;
  }
  .visionh1 {
    font-size: 35px;
  }
  .vision-para {
    font-size: 25px;
    line-height: 37px;
  }
  .c-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 40px;
    gap: 0px;
    width: 600px;
    height: 252px;
    background: #111111;
    border-radius: 30px;
  }
}
@media screen and (max-width: 1440px) {
  .about-hero-h1 {
    width: 85%;
    top: 250px;
  }
  .core-container {
    padding: 120px 10.7%;
    gap:70px;
    padding-bottom: 50px;
  }
  .core-para {
    font-size: 15px;
    line-height: 25px;
  }
  .c-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 40px;
    gap: 0px;
    width: 540px;
    height: 232px;
    background: #111111;
    border-radius: 30px;
  }
  .visionh1 {
    font-size: 40px;
    font-weight: 600;
  }
  .vision-para {
    font-size: 18px;
    line-height: 27px;
  }
  .guiding-container {
    width: 35%;
    gap: 20px;
  }
  .guiding-skip {
    position: relative;
    left: -150px;
  }
  .guiding-container-h1 {
    font-size: 30px;
  }
  .guiding-container-para {
    font-size: 15px;
    line-height: 24px;
  }
  .subcontainer-h1 {
    font-size: 30px;
  }
  .subcontainer-para {
    font-size: 15px;
    line-height: 24px;
  }
  .guiding-subcontainer {
    width: 60%;
    gap: 70px;
  }
}
@media screen and (max-width: 1024px) {
  .about-hero-h1 {
    font-size: 70px;
    width: 83%;
  }
  .guiding-container{
    height: auto;
  }
  .guiding-skip {
    position: relative;
    left: -100px;
  }
}
@media screen and (max-width: 768px) {
  .circle20, .circle11, .circle21, .circle22, .circle23, .arrowanimate, .intersect {
    display: none;
  }
  .circles-animation{
    display: none;
  }
  .iframe{
    display: none;
  }
  .iframe-container{
    display: none;
  }
  .about-hero{
    height: 80vh;
  }
  .image{
    display: inline;
    width: 70%;
    margin-left: 20%;
  }
  .about-hero-h1 {
    font-size: 50px;
    line-height: 55px;
    top: 300px;
    left: 6.7%;
    width: 93.3%;
  }
  .career-crew-btn {
    margin-left: 3%;
    background-color: #ffcd05;
    color: black;
    border: 1px solid #ffcd05;
    box-shadow: 0px 0px 38px 8px rgba(255, 225, 105, 0.28);
  }
  .career-crew-content {
    color: black;
  }
  .core-guiding-container {
    flex-direction: column;
  }
  .core-container {
    padding: 50px 6.7%;
    gap: 50px;
  }
  .guiding-container {
    width: 100%;
    position: relative;
    top: 30px;
  }
  .core-guiding-container{
    gap: 50px;
  }
  .crew-model{
    margin-top: 70px;
  }
  .guiding-skip {
    position: relative;
    left: 0px;
  }
  .guiding-subcontainer {
    width: 100%;
    gap: 70px;
  }
  .vision-container {
    flex-direction: column;
    gap: 10px;
  }
  .vision-para {
    width: 100%;
    font-size: 18px;
    line-height: 24px;
  }
  .crewclass {
    margin-left: 3%;
  }
  .c-container{
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 630px) {
  .about-hero-h1 {
    left: 5%;
    top: 200px;
  }
  .image{
    display: inline;
    width: 80%;
    margin-left: 15%;
  }
}
@media screen and (max-width: 428px) {
  .career-crew-btn{
    width: 90%;
    margin-left: 5%;
  }
  .about-hero-h1 {
    font-size: 35px;
    line-height: 40px;
    width: 95%;
  }
  .core-guiding-container {
    gap: 50px;
  }
  .guiding-container{
    top: 20px;
  }
  .crewclass {
    margin-left: 0;
  }
  .core-container{
    padding-top: 0px;
    padding-bottom: 20px;
    gap: 30px;
    padding-right: 5px;
  }
  .crew-model{
    margin-top: 50px;
  }
  .guiding-subcontainer{
    gap: 20px;
  }
  .subcontainer-para{
    font-size: 16px;
    line-height: 25px;
    text-indent: 30px;
  }
  .image{
    display: inline;
    width: 90%;
    margin-left: 10%;
  }
}
