.about-hero {
  height: 100vh;
}
.about-hero-h1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  position: absolute;
  width: 68.7%;
  height: 176px;
  left: 9.6%;
  top: 452px;
  height: 176px;
  font-weight: 600;
  font-size: 75px;
  line-height: 88px;
  letter-spacing: -0.015em;
  text-transform: capitalize;
  color: #f6f6f6;
}
.intersect {
  width: 182px;
  position: absolute;
  opacity: 0;
}
.arrowanimate {
  position: relative;
  left: 210px;
  bottom: 60px;
  opacity: 0;
}
.circle11 {
  width: 182px;
  height: 182px;
  border-radius: 100%;
  border: 1px solid #cecece;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 1;
}
.circle20 {
  width: 182px;
  height: 182px;
  border-radius: 100%;
  border: 1px solid #cecece;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
}
.circles-animation {
  display: flex;
  justify-content: center;
  height: 300px;
  align-items: center;
}
.crewclass {
  margin-left: 9.6%;
}
.crewpara {
  color: #cecece;
  font-family: graphik;
  font-weight: 100;
  opacity: 0.9;
}
.career-crew-btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
  gap: 10px;
  width: 140px;
  height: 42px;
  border: 1px solid #cecece;
  border-radius: 72px;
  text-decoration: none;
  transition: 0.3s;
}
.career-crew-content {
  width: auto;
  height: auto;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.045em;
  font-family: graphik;
  font-weight: 100;
  color: #cecece;
  padding-bottom: 4px;
}
.career-crew-btn:hover {
  background-color: #ffcd05;
  color: black;
  font-weight: bold;
  border: 1px solid #ffcd05;
  box-shadow: 0px 0px 38px 8px rgba(255, 225, 105, 0.28);
}
.career-crew-btn:hover .career-crew-content {
  color: black;
  font-weight: bold;
}
.strategist {
  width: 100%;
}
.core-container {
  padding: 120px 12.7%;
  display: flex;
  flex-direction: column;
  gap: 150px;
}
.core-para {
  font-size: 20px;
  line-height: 32px;
  font-family: graphik;
  font-weight: 100;
  color: #cecece;
  opacity: 0.9;
}
.vision-container {
  display: flex;
  justify-content: space-between;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.visionh1 {
  font-size: 50px;
  font-weight: 600;
  color: #f6f6f6;
}
.vision-para {
  font-size: 32px;
  line-height: 42px;
  font-family: graphik;
  color: #cecece;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.core-guiding-container {
  display: flex;
  gap: 7.5%;
}
.guiding-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position:sticky;
  top: 70px;
  height: 260px;
}
.guiding-skip {
  position: relative;
  left: -25px;
}
.guiding-container-h1 {
  font-size: 35px;
  color: #f6f6f6;
  font-family: graphikthin;
  font-weight: 600;
}
.guiding-container-para {
  font-size: 20px;
  line-height: 30px;
  font-family: graphik;
  font-weight: 100;
  color: #cecece;
  font-weight: 100;
}
.subcontainer-img {
  display: inline-block;
  width: 60px;
  margin-right: 20px;
  opacity: 0.7;
}
.subcontainer-h1 {
  display: inline-block;
  font-size: 35px;
  color: #f6f6f6;
  font-family: graphikthin;
  font-weight: 600;
}
.iframe-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
}
.iframe {
  width: 1900px;
  height: 1500px;
  position: absolute;
  top: -100px;
  right: 20px;
  transform: scale(1.5);
}
.subcontainer-para {
  font-size: 20px;
  line-height: 32px;
  font-family: graphik;
  font-weight: 100;
  letter-spacing: -0.03em;
  color: #cecece;
  text-indent: 80px;
}
.guiding-subcontainer {
  width: 57%;
  display: flex;
  flex-direction: column;
  gap: 130px;
}
.crew-model {
  display: flex;
  justify-content: center;
  margin-top:100px ;
}
.crew-model-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.m-desc{
  display: flex;
  align-items: center;
}
.c-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 30px;
  gap: 0px;
  width: 746px;
  height: 280px;
  background: #111111;
  border-radius: 30px;
}
@media screen and (max-width: 1540px) and (min-width: 1441px) {
  .about-hero-h1 {
    top: 297px;
    height: 176px;
    font-size: 60px;
    line-height: 68px;
  }
  .guiding-container-para {
    font-size: 15px;
    line-height: 25px;
  }
  .subcontainer-para {
    font-size: 15px;
    line-height: 22px;
  }
  .core-container {
    padding: 120px 9.7%;
    gap: 70px;
  }
  .core-para {
    font-size: 15px;
    line-height: 25px;
  }
  .visionh1 {
    font-size: 35px;
    color: #d8d6d6;
  }
  .vision-para {
    font-size: 25px;
    line-height: 37px;
  }
  /* .crewcontainer {
    position: relative;
    bottom: 70px;
    height: auto;
  } */
  .c-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 40px;
    gap: 0px;
    width: 600px;
    height: 252px;
    background: #111111;
    border-radius: 30px;
  }
}
@media screen and (max-width: 1440px) {
  .about-hero-h1 {
    width: 85%;
    top: 250px;
  }
  /* .core-container {
    padding: 120px 10.7%;
  } */
  .core-para {
    font-size: 17px;
    line-height: 26px;
  }
  .c-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 40px;
    gap: 0px;
    width: 550px;
    height: 232px;
    background: #111111;
    border-radius: 30px;
  }
  .visionh1 {
    font-size: 40px;
    font-weight: 600;
    color: #d8d6d6;
  }
  .vision-para {
    font-size: 27px;
    line-height: 37px;
  }
  .guiding-container {
    width: 35%;
    gap: 20px;
  }
  .guiding-skip {
    position: relative;
    left: -150px;
  }
  .guiding-container-h1 {
    font-size: 30px;
  }
  .guiding-container-para {
    font-size: 15px;
    line-height: 24px;
  }
  .subcontainer-h1 {
    font-size: 30px;
  }
  .subcontainer-para {
    font-size: 15px;
    line-height: 24px;
  }
  .guiding-subcontainer {
    width: 60%;
    gap: 70px;
  }
  /* .crewcontainer {
    position: relative;
    bottom: 300px;
    height: 1400px;
  } */
}
@media screen and (max-width: 1024px) {
  .about-hero-h1 {
    font-size: 70px;
    width: 83%;
  }
  .guiding-container{
    height: auto;
  }
  .guiding-skip {
    position: relative;
    left: -100px;
  }
}
@media screen and (max-width: 768px) {
  .circle20 {
    width: 130px;
    height: 130px;
    font-size: 12px;
    opacity: 0;
  }
  .iframe{
    display: none;
  }
  .circle21 {
    margin-top: 0px;
    margin-right: 60px;
    margin-bottom: 35px;
  }
  .circle22 {
    margin-bottom: 35px;
    margin-left: 59px;
  }
  .circle23 {
    margin-top: 60px;
  }
  .arrowanimate {
    width: 250px;
    left: 140px;
    display: none;
  }
  .intersect {
    width: 132px;
  }
  .circle11 {
    width: 130px;
    height: 130px;
    opacity: 1;
  }
  .about-hero-h1 {
    font-size: 60px;
    line-height: 60px;
    top: 300px;
    left: 6.7%;
  }
  .career-crew-btn {
    margin-left: 3%;
    background-color: #ffcd05;
    color: black;
    font-weight: bold;
    border: 1px solid #ffcd05;
    box-shadow: 0px 0px 38px 8px rgba(255, 225, 105, 0.28);
  }
  .career-crew-content {
    color: black;
    font-weight: bold;
  }
  .core-guiding-container {
    flex-direction: column;
  }
  .core-container {
    padding: 80px 6.7%;
  }
  .guiding-container {
    width: 100%;
    position: relative;
  }
  .guiding-skip {
    position: relative;
    left: 0px;
  }
  .guiding-subcontainer {
    width: 100%;
    gap: 70px;
  }
  .vision-container {
    flex-direction: column;
    gap: 10px;
  }
  .vision-para {
    width: 100%;
    font-size: 18px;
    line-height: 24px;
  }
  .crewclass {
    margin-left: 3%;
  }
  .c-container{
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    height: 300px;
  }
  /* .crewcontainer {
    bottom: 200px;
  } */
  .about-case {
    position: relative;
    bottom: 100px;
  }
}
@media screen and (max-width: 630px) {
  .about-hero-h1 {
    left: 5%;
    top: 200px;
    width: 90%;
  }
}
@media screen and (max-width: 540px) {
  .about-case {
    position: relative;
    bottom: 250px;
  }
  /* .crewcontainer {
    bottom: 50px;
    height: 1600px;
  } */
}
@media screen and (max-width: 428px) {
  .career-crew-btn{
    width: 90%;
    margin-left: 5%;
  }
  .about-hero-h1 {
    font-size: 40px;
    line-height: 45px;
  }
  /* .core-container {
    gap: 70px;
  } */
  .core-guiding-container {
    gap: 50px;
  }
  .strategist {
    text-align: center;
  }
  /* <<<<<<< HEAD */
  /* .crewclass {

  .guiding-skip{
    width: 100%;
    display: flex;
    justify-content: end;
  } */
  .crewclass {
    /* >>>>>>> 197f0f4aaf057c6d88ae03b456bb3f9c37fb18ac */
    margin-left: 0;
  }
  /* .crewcontainer {
    bottom: 300px;
    height: 1150px;
  } */
}
