.widthh {
  max-width: 1225px;
}
.rights {
  width: 100%;
}
.leftss {
  width: 57%;
}
.skip {
  font-family: graphik;
  opacity: 0.5;
  color: #fff;
}
.skip:hover {
  // font-family: graphik;
  opacity: 1;
  // color: #fff;
}

@media (max-width: 768px) {
  .lefts {
    width: 115%;
    padding: 20px;
  }
}

@media (max-width: 1024px) {
  .leftss {
    width: 95%;
    padding: 20px;
  }
}
