#hero{
    width: 100%;
    height: 100vh;
    background-color: black;
}
.bgv{
    width: 50%;
    height: 50%;
    position: absolute;
    left: 30%;
    z-index: -1;
}
#content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    max-width: 84%;
    height: auto;
    left: 10.3%;
    top: 39%;
}
#header{
    font-weight:bolder;
    font-size: 59px;
    line-height: 70px;
    word-spacing: 0.01em;
}
#aboutbtn{
    margin-top: 49px;
    width:122px;
    font-size: 15.4px;
    height: 32px;
    text-align: center;
    border: 1px solid #707070;
    border-radius: 20px;
    transition: 0.5s;
    position: relative;
    right: 1%;
}
.aboutbtn_content{
    font-family: graphik;
    position: relative;
    top: 4px;
    color: #747474;
}
#aboutbtn:hover{
    background-color: rgb(191, 167, 31);
    color: black;
    font-weight: bold;
    border: 1px solid rgb(254, 221, 37);
}
#aboutbtn:hover .aboutbtn_content{
    color: black;
    font-weight: bold;
}

#about{
    position: relative;
    width: 100%;
    height: 253vh;
    background-color: rgb(0, 0, 0);
}
#rectangle{
    position: absolute;
    width: 115%;
    height: 65vh;
    left: -18%;
    top: 17.8%;
    background: #000000;
    transform: rotate(-33.3deg);
    z-index: 2;
}
#abtcnt{
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 60%;
    height: 60vh;
    left: 9.7%;
    top: 27.5vh;
}
#abth1{
    position: relative;
    margin: 0px;
    color: white;
    width: 95%;
    font-weight:100;
    font-size: 77px;
    line-height: 80px;
    text-transform: capitalize;
    margin-bottom: 0px;
    font-weight: bolder;
    word-spacing: 0.01em;
    letter-spacing: 0.01em;
}
#abtdmycnt{
    color: #898989;
    align-self: stretch;
    font-size: 15px;
    margin: 0;
    width: 70%;
    font-family: graphik;
    font-weight: 100;
    margin-top: 29px;
    line-height: 23px;
}
.allworks{
    text-decoration: none;
    position: relative;
    top: 49px;
    width:122px;;
    height: 32px;
    border: 1px solid  #898989;
    font-family: graphik;
    border-radius: 20px;
    text-align: center;
    transition: 0.5s;
    font-size: 15px;
}
.workbtn_content{
    color: #898989;
    position: relative;
    top: 4px;
}
.allworks:hover{
    background-color: rgb(232, 202, 33);
    color: black;
    font-weight: bold;
    border: 1px solid rgb(232, 202, 33);
}
.allworks:hover .workbtn_content{
    color: black;
    font-weight: bold;
}
#imgs{
    position: absolute;
    right:132px;
    top: 200px;
    background-image: url("./images/image\ 5.png");
    background-size: 312%;
    width: 37.3%;
    height: 132.5vh;
    background-repeat: no-repeat;
    background-position: -680px 0px;
    transition: 0.3s;
}
#imgs:hover{
    background-size: 100%;
    background-position: 0px 650px;
}
#imgs1{
    width: 37.3%;
    display: flex;
    color: white;
    position: absolute;
    top:1212px;
    right: 132px;
    font-size: 18px;
}
#imgs1p{
    position: relative;
    top: 7px;
    left: 15px;
    font-size: 15px;
    color: #585858;
    font-family: graphik;
}
#img2{
    position: absolute;
    top: 655px;
    left: 9.7%;
    background-image: url("./images/image\ 3.png");
    background-size: 290%;
    width: 37.3%;
    height: 128.3vh;
    background-repeat: no-repeat;
    background-position:-950px -37px;
    transition: 0.5s;
}
#img2:hover{
    background-size: 100%;
    background-position: 0px 600px;
}
#imgs2{
    width: 40%;
    color: white;
    display: flex;
    position: relative;
    top: 1520px;
    left: 155px;
    font-size: 18px;
}
#imgs2p{
    position: relative;
    top: 8px;
    left: 15px;
    font-size: 15px;
    color: #a0a0a0;
}
#img3{
    background-image: url("./images/image\ 4.png");
    position: absolute;
    right: 150px;
    top: 1300px;
    background-size: 950px;
    width: 37%;
    height: 600px;
    background-repeat: no-repeat;
    background-position:-150px -30px;
    transition: 0.5s;
}
#img3:hover{
    background-size: 600px;
    background-position: -70px 0px;
}
#imgs3{
    display: flex;
    color: white;
    position: absolute;
    top:1230px;
    width: 37%;
    right: 145px;
    font-size: 18px;
}
#imgs3p{
    position: relative;
    top: 8px;
    left: 15px;
    font-size: 15px;
    color: #a0a0a0;
}
#imgs4{
    width: 37%;
    color: white;
    display: flex;
    position: absolute;
    top: 1690px;
    left: 155px;
    font-size: 18px;
}
#imgs4p{
    position: relative;
    top: 8px;
    left: 15px;
    font-size: 15px;
    color: #a0a0a0;
}
#img4{
    background-image: url("./images/1280x670_Beoplay_EX\ 1.png");
    position: absolute;
    left: 150px;
    top: 1750px;
    background-size: 1320px;
    width: 37%;
    height: 150px;
    background-repeat: no-repeat;
    background-position:-355px 0px;
    transition: 0.5s;
}
#img4:hover{
    background-size: 555px;
    background-position: 0px 0px;
}
#service{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
}
.service_main{
    width: 80%;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 200px;
}
#srvcnt{
    margin: 0;
    width: 770px;
    height: 300px;
    font-weight: bolder;
    font-size: 75px;
    line-height: 102.8%;
}
#srvp{
    position: absolute;
    top: 100px;
    width: 490px;
    height: 84px;
    font-weight: 300;
    font-family: graphik;
    font-size: 15px;
    line-height: 139.52%;
    letter-spacing: -0.02em;
    color: #848484;
}
#svcbtn{
    position: absolute;
    top: 180px;
    border: 2px solid #8c8c8c;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    transition: 0.5s;
}
.svcbtn_content{
    color: #a0a0a0;
    position: relative;
    top: 3px;
    text-align: center;
    height: 30px;
}
#svcbtn:hover{
    background-color: rgb(232, 202, 33);
    color: black;
    font-weight: bold;
    border: 2px solid rgb(232, 202, 33);
}
#svcbtn:hover .svcbtn_content{
    color: black;
    font-weight: bold;
}
#buttons{
    font-size: 40px;
    width: 30%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btnlinks{
    text-decoration: none;
    color:#a0a0a0;
    font-weight: 700;
    transition: 0.5s;
}

.btnlinks:hover{
    padding-left: 40px;
    color:white;
    text-shadow: 0px 0px 20px white;
}
#testimonials{
    width: 100%;
    height: 800px;
    background-color: black;
    color: white;
}
#container-2_header{
    font-size: 70px;
    margin: 0;
    text-align: center;
    font-weight: 900;
}
#nums{
    color: rgb(182, 182, 182);
    position: relative;
    top: 50px;
    left: 70px;
    font-size: 15px;
}
#left, #right{
    width: 40px;
    height: 40px;
    border-radius: 360px;
}
#arrow{
    display: flex;
    width:110px;
    justify-content: space-between;
    position: relative;
    left: 110px;
    top:20px;
}
#container-2{
    width: 50%;
    position: relative;
    left: 25%;
}
#container{
    position: relative;
    margin-right: 0;
    top: 80px;
    width: 100%;
    height: 100px;
}
#container-h3{
    width: 62%;
    font-size: 16px;
    position: relative;
    left: 300px;
    bottom: 100px;
    font-weight: 600;
}
#pm{
    line-height: 0px;
    margin-top: 10px;
    font-size: 14px;
    color: #a0a0a0;
    position: relative;
    right: 15px;
    font-weight: 900;
}
#container_h2{
    margin: 0px;
    font-size: 25px;
    position: relative;
    top: 0px;
    right: 15px;
    font-weight: 700;
}
#clients{
    position: relative;
    top: 260px;
    left: 21%;
    width: 58%;
}
#blog{
    width: 100%;
    height: 650px;
    background-color: black;
    color: rgb(255, 255, 255);
}
#blog_heading{
    position: relative;
    margin-left: 19%;
    font-weight: 900;
    color: white;
    font-size: 75px;
    width: 50%;
    line-height: 80px;
}
#blog-icons{
    width: 63%;
    padding-left: 19%;
    padding-top: 85px;
    top: 110px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.blog-icons_img{
    width: 285px;
    height: 160px;
}
.blog-icons_div{
    max-width: 300px;
    height: 310px;
}
.blog_para{
    font-size: clamp(10px,15px,20px);
    color: #a0a0a0;
    line-height: 23px;
    text-align: center;
    display: flex;
    font-family: graphik;
    width: 90%;
    padding-left: 5%;
}
.blog-icon_div-h2{
    color: rgb(210, 210, 210);
    font-size: clamp(20px,27px,35px);
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 12px;
}
.explore_btn{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    width: 150px;
    height: 30px;
    border: 2px solid #686868;
    border-radius: 20px;
    position: relative;
    left: 45%;
    transition: 0.5s;
}
.exp_btn-content{
    position: relative;
    top: 3px;
    color: #797979;
    font-family: graphik;
}
.explore_btn:hover{
    background-color: rgb(232, 202, 33);
    color: black;
    font-weight: bold;
    border: 2px solid rgb(232, 202, 33);
}
.explore_btn:hover .exp_btn-content{
    color: black;
    font-weight: bold;
}

@media screen and (max-width:1000px){
    #header{
        font-size: 40px;
        line-height: 50px;
    }
}
@media screen and (max-width:750px){
    #header{
        font-size: 30px;
        line-height: 40px;
    }
    #content{
        left: 100px;
    }
}
@media screen and (max-width:600px){
    #header{
        font-size: 20px;
        line-height: 30px;
    }
    #content{
        left: 70px;
    }
}