.swiper-slide {
  margin-right: 0;
}
.card1 {
  width: 400.5px;
  height: 550.82px;
  margin-right: 20px;
  border-radius: 22.8144px;
  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;
  transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.card1:hover {
  box-shadow: 0px 0px 20px #f7f5f513;
  background: #090909;
  transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

@media (max-width: 1090px) {
  .card1:hover {
    box-shadow: 0px 0px 0px;
    transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
}

.img1 {
  position: absolute;
  background-image: url("../images/unsplash_9Trha5ptc-c.svg");
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: -50px -100px;
  height: 465px;
  width: 320px;
  transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  z-index: 1;
}
.img22 {
  position: absolute;
  background-size: 400px;
  background-image: url("../images/unsplash_QRWAdBCqysc.svg");
  background-repeat: no-repeat;
  background-position: 0px -100px;
  transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);

  height: 430px;
  width: 320px;
}
.img3 {
  position: absolute;
  background-image: url("../images/unsplash_Im7lZjxeLhg.svg");

  background-size: 500px;
  transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);

  background-repeat: no-repeat;
  background-position: -180px -100px;
  height: 430px;

  width: 300px;
}
.img4 {
  position: absolute;
  background-image: url("../images/unsplash_w33-zg-dNL4.svg");
  transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);

  background-size: 400px;
  background-repeat: no-repeat;
  background-position: -80px -100px;
  height: 430px;
  width: 300px;
}
.card1:hover .img1 {
  background-position: -75px 1px;
  background-size: 450px;
  height: 550.82px;
  transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}
.card1:hover .img22 {
  background-position: -18px 1px;
  background-size: 420px;
  height: 900.82px;
  transition: 0.5s ease-in-out;
}
.card1:hover .img3 {
  background-position: -250px -60px;
  background-size: 650px;
  height: 550.82px;
  transition: 0.5s ease-in-out;
}
.card1:hover .img4 {
  background-position: -100px -20px;
  background-size: 450px;
  height: 550.82px;
  transition: 0.5s ease-in-out;
}
.name {
  margin-left: 0px;
  z-index: 2;
  opacity: 1;
}
.card1:hover .name {
  text-shadow: #fff 0px 0px 25px;
  transition: 0.5s ease-in-out;
  color: white;
  opacity: 1;
}

@media (max-width: 768px) {
  .name {
    margin-left: 25px;
    opacity: 1;
  }
  .card1:hover .img1 {
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: -50px -100px;
  }
  .card1:hover .img22 {
    background-size: 400px;
    background-image: url("../images/unsplash_QRWAdBCqysc.svg");

    background-repeat: no-repeat;
    background-position: 0px -100px;
    transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
  .card1:hover .img3 {
    background-size: 500px;
    transition: 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);

    background-repeat: no-repeat;
    background-position: -180px -100px;
  }
  .card1:hover .img4 {
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: -80px -100px;
  }
  .card1 {
    width: 290.5px;
    height: 390.82px;
    margin: 12px 24px;
    border-radius: 22.8144px;
    flex: none;
    order: 0;
    flex-grow: 0;
    box-sizing: border-box;
  }
}
