// .testt {
//   // position: absolute;
//   // display: block;
//   top: 0;
//   // margin-bottom: 90px;
//   left: 0%;
//   width: calc(550px);
//   height: 100vh;
//   min-height: 1350px;
//   margin-top: -299px;
//   margin-left: 40px;
//   overflow-y: auto;
//   overflow-x: hidden;
//   transform: rotate(-90deg) translateY(250px);
//   transform-origin: center center;
//   padding: 25px 0 0 0;
// }

// .hideee {
//   display: block;
//   padding: 35px;

//   // top: 0;
//   margin-top: 0;
//   // background: #cab;
//   // transform: rotate(90deg);
//   transform-origin: center center;
//   width: 390px;
//   height: 602px;
//   margin: -91px 106px;
// }
.swiper-slide{
  margin-right: 0;
}
.card1 {
  width: 400.5px;
  height: 550.82px;
  margin-right: 20px;
  //   background: #090909;
  border-radius: 22.8144px;
  flex: none;
  order: 0;
  flex-grow: 0;
  box-sizing: border-box;
}
.card1:hover {
  box-shadow: 0px 0px 20px #f7f5f513;
  background: #090909;
  transition: 0.5s ease-in-out;
}

@media (max-width: 1090px) {
  .card1:hover {
    box-shadow: 0px 0px 0px ;
    // background: #090909;
    transition: 0.5s ease-in-out;
  }
  // .testt {
  //   // position: absolute;
  //   // display: block;
  //   top: 0;
  //   // margin-bottom: 90px;
  //   left: 0%;
  //   width: 100%;
  //   height: 50vh;
  //   min-height: 700px;
  //   margin-top: 99px;
  //   margin-left: 0px;
  //   overflow-y: auto;
  //   overflow-x: hidden;
  //   transform: rotate(-90deg) translateY(0px);
  //   transform-origin: center center;
  //   padding: 25px 0 0 0;
  // }
  // .hideee {
  //   display: block;
  //   padding: 35px;

  //   // top: 0;
  //   margin-top: 0;
  //   // background: #cab;
  //   transform: rotate(90deg);
  //   transform-origin: center center;
  //   width: 390px;
  //   height: 602px;
  //   margin: -190px 0px;
  // }
}

.img1 {
  position: absolute;
  // background-image: url("../../../public/services/chees.jpg");
  background-image: url("../images/unsplash_9Trha5ptc-c.svg");
  background-size: 400px;
  // left: 10px;
  background-repeat: no-repeat;
  background-position: -50px -100px;
  height: 465px;
  //   border-radius: 22.8144px;
  width: 320px;
}
.img22 {
  position: absolute;
  // background-image: url("../../../public/services/watch.jpg");

  background-size: 400px;
  background-image: url("../images/unsplash_QRWAdBCqysc.svg");

  background-repeat: no-repeat;
  background-position: 0px -100px;
  // margin-left: -20px;
  //   border-radius: 22.8144px;
  height: 430px;
  width: 320px;
}
.img3 {
  position: absolute;
  // background-image: url("../../../public/services/laptop.jpg");
  background-image: url("../images/unsplash_Im7lZjxeLhg.svg");

  background-size: 500px;
  background-repeat: no-repeat;
  background-position: -180px -100px;
  height: 430px;
  //   border-radius: 22.8144px;

  width: 300px;
}
.img4 {
  position: absolute;
  // background-image: url("../../../public/services/phone.jpg");
  background-image: url("../images/unsplash_w33-zg-dNL4.svg");

  background-size: 400px;
  background-repeat: no-repeat;
  background-position: -80px -100px;
  height: 430px;
  width: 300px;
}
.card1:hover .img1 {
  background-position: -75px 1px;
  background-size: 450px;
  height: 550.82px;
  transition: 0.5s ease-out;
}
.card1:hover .img22 {
  background-position: -18px 1px;
  background-size: 420px;
  height: 900.82px;
  transition: 0.5s ease-in-out;
}
.card1:hover .img3 {
  background-position: -250px -60px;
  background-size: 650px;
  height: 550.82px;
  transition: 0.5s ease-in-out;
}
.card1:hover .img4 {
  background-position: -100px -20px;
  background-size: 450px;
  height: 550.82px;
  transition: 0.5s ease-in-out;
}
.name{
  margin-left: 0px;
}
.card1:hover .name {
  text-shadow: #fff 0px 0px 10px, #fff 0px 0px 15px;
  transition: 0.5s ease-in-out;
  color: white;
  opacity: 1;
}

@media (max-width: 768px) {
  .name{
    margin-left: 25px;
  }
  .card1 {
    width: 310.5px;
    height: 390.82px;
    //   background: #090909;
    border-radius: 22.8144px;
    flex: none;
    order: 0;
    flex-grow: 0;
    box-sizing: border-box;
  }
  // .testt {
  //   // position: absolute;
  //   // display: block;
  //   top: 0;
  //   // margin-bottom: 90px;
  //   left: 0%;
  //   width: 100%;
  //   height: 40vh;
  //   min-height: 400px;
  //   margin-top: 9px;
  //   margin-left: 0px;
  //   overflow-y: auto;
  //   overflow-x: hidden;
  //   transform: rotate(-90deg) translateY(0px);
  //   transform-origin: center center;
  //   padding: 25px 0 0 0;
  // }
  // .hideee {
  //   display: block;
  //   padding: 35px;

  //   // top: 0;
  //   margin-top: 0;
  //   // background: #cab;
  //   transform: rotate(90deg);
  //   transform-origin: center center;
  //   width: 145px;
  //   height: 674px;
  //   margin: -326px 0px;
  // }
}
