.login-container {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // height: 100vh;
  font-family: "Graphik";
  form {
    display: flex;
    flex-direction: column;
    min-height: 30px;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
    justify-content: center;
  }
  h2 {
    margin-bottom: 50px;
    font-size: 3rem;
    color: #ffcd05;
  }
  label {
    display: flex;
    width: 320px;
    img {
      background-color: #fee994;
      width: 60px;
    }
  }
  input {
    padding: 10px 30px;
    // margin-bottom: 10px;
    min-height: 30px;
    width: 100%;
    color: #000;
    border: 1px solid #ccc;
  }
  p {
    width: 320px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  textarea {
    padding: 5px;
    margin-bottom: 10px;
    min-height: 30px;
    width: 100%;
    color: #000;
    border: 1px solid #ccc;
    padding: 10px 30px;
  }

  button {
    cursor: pointer;
    img {
      background-color: #000;
      border-radius: 100%;
      border: 0;
      width: 80px;
      margin-top: 30px;
    }
  }
}
.login-container {
  display: flex;
  height: 100vh;
}
.left-upper {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rightpart {
  width: 66%;
  padding: 100px 0;
}
.leftpart {
  background-color: #ffcd05;
  width: 30%;
  height: 96vh;
  margin-top: 2vh;
}
.left-lower {
  height: 80vh;
}
.left-lower-txt {
  color: #000;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  position: absolute;
  width: 30%;
  top: 72vh;
}
.dash-mascot {
  width: 63px;
  border: 5px solid grey;
}
.lines {
  width: 47px;
  height: 60vh;
  margin-left: 41.5%;
  border-left: 6px solid black;
  border-right: 6px solid black;
  display: flex;
  justify-content: center;
  position: sticky;
  z-index: 2;
}
.about-page-dash{
  display: flex;
}
.about-page-dash-txt{
  color: grey;
  font-size: 20px;
  font-family: graphik;
  font-weight: bold;
  padding: 10px 30px;
}
.about-page-dash-search{
  background-color: #000;
}
.about-page-dash-panel{
  height: auto;
  padding-bottom: 50px;
}
.error {
  color: red;
  margin-top: -25px;
}
@media screen and (max-width: 1440px) {
    .lines{
      margin-left: calc(41% - 0.5px);
    }  
}