#socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 27%;
    position: relative;
    left: 21%;
    bottom: 38px;
}
#footer{
    position: relative;
    top: 50px;
    max-width: 100%;
    min-height: 100vh;
    background-color: black;
}
#ftrcnt{
    font-family: graphikthin;
    color: rgba(255, 255, 255, 0.612);
    text-align: center;
    position: relative;
    top: 8px;
    margin-left: 80px;
    margin-bottom: 45px;
    font-weight: 500;
    font-size: 27.5px;
    white-space: nowrap;
}
#ftrh1{
    font-size: clamp(20px,238px,300px);
    color: rgb(0, 0, 0);
    text-align: center;
    position: relative;
    left: 0px;
    bottom: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    transition: 0.5s;
    white-space: nowrap;
    font-family: Graphik;
    letter-spacing: -0.045em;
    font-weight: 100;
    padding-bottom: 50px;
}
#ftrh1:hover{
    text-shadow: 2px 2px 90px rgb(118,116,116);
}
#lower-footer{
    display: flex;
    justify-content: space-between;
    max-width: 37em;
    padding-left: 28.5%;
    padding-top: 90px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.01em;
}
#contact{
    line-height: 30px;
    font-size: 15px;
    position: relative;
    left: 7.4%;
    top: 4px;
    letter-spacing: 0.05em;
}
.arrow{
    position: relative;
    top: 30px;
    left: 8px;
    display: inline;
    width: 90px;
}
.icon{
    width: 22px;
}
.column{
    line-height: 38px;
    margin-right: 37px;
    letter-spacing: 0.05em;
}
.link{
    text-decoration: none;
}
@media screen and (max-width:1060px){
    #ftrcnt{
        font-size: 20px;   
    }
    .arrow{
        width: 80px;
    }
    #lower-footer{
        padding-left: 5%;
    }
    #ftrh1{
        font-size:100px;
    }
    #socials{
        width: 20%;
    }
}
@media screen and (max-width:750px){
    #lower-footer{
        width: 100%;
    }
    #ftrh1{
        font-size:70px;
    }
    #lower-footer{
        padding-left: 0;
    }
}
@media screen and (max-width:600px){
    #lower-footer{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    #socials{
        bottom: -15px;
        width: 60%;
        left: 50px;
    }
    #contact{
        left: -20px;
    }
    .arrow{
        width: 50px;
        top :15px;
        left: 5px;
    }
    #ftrcnt{
        font-size: 12px;
    }
}