.blog-hero {
  width: 100%;
  height: 90vh;
}
.blog-hero-h1 {
  position: absolute;
  width: 736px;
  height: 88px;
  left: 30.83%;
  top: 440px;
  font-weight: 900;
  font-size: 75px;
  line-height: 88px;
  letter-spacing: -0.015em;
  text-transform: capitalize;
  color: #d8d6d6;
}
.blog-content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  width: 100%;
  height: 182.3px;
}
.blog-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px;
  gap: 99px;
  width: 100%;
  height: auto;
}
.blog-btn-content {
  color: #848484;
  font-weight: 900;
  font-size: 28px;
  font-family: graphikthin;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5.65008px;
  gap: 5.65px;
  white-space: nowrap;
  cursor: pointer;
}
.blog-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.blogcol {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 100%;
  height: 450px;
}
.blog-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 13.9%;

  width: 77.2%;
  height: auto;
}
.blog-containers {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 50px;
  gap: 40px;

  width: 358.67px;
  height: auto;
}
.blog-imgs {
  width: 358.67px;
  height: 198.63px;
  border-radius: 13.3px;
  opacity: 0.9;
  transition: 0.3s;
}
.blog-imgs:hover{
  opacity: 1;
  box-shadow: 0px 0px 10px #848484;
}
.blog-container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 358.67px;
  height: auto;
}
.blog-heading {
  font-weight: 600;
  font-size: 35px;
  line-height: 46px;
  letter-spacing: 0em;
  text-transform: capitalize;
  color: #d8d6d6;
  text-align: center;
}
.arrow-left-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
#no1by5 {
  display: inline;
  margin: 3.5%;
  font-size: 30px;
}
#left-arr,
#right-arr {
  width: 53.7px;
  height: 53.7px;
}
#left-arr {
  opacity: 0.3;
}
@media screen and (max-width: 1540px) and (min-width: 1441px) {
  .blog-hero {
    width: 100%;
    height: 600px;
  }
  .blog-hero-h1 {
    top: 343px;
    font-size: 58px;
    line-height: 73px;
    letter-spacing: 0.01em;
  }
  .blog-content-section {
    height: 250px;
  }
  .blog-btns {
    gap: 79px;
  }
  .blog-btn-content {
    font-size: 24px;
  }
  .blog-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 10.9%;

    width: 77.2%;
    height: 484.85px;
  }
  .blog-containers {
    gap: 30px;

    width: 308.67px;
    height: auto;
  }
  .blog-imgs {
    width: 308.67px;
    height: auto;
  }
  .blog-container-content {
    width: 308.67px;
  }
  .blog-heading {
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
  }
  .blog-para {
    font-size: 15px;
    line-height: 24px;
    width: 290px;
  }
  .blog-btns {
    font-size: 18px;
  }
}
@media screen and (max-width: 1440px) {
  .blog-hero-h1 {
    width: 50%;
    left: 25%;
    top: 343px;
    font-size: 70px;
    line-height: 65px;
    text-align: center;
  }
  .blog-container {
    gap: 10%;
    width: 80%;
  }
  .blog-container {
    width: 350px;
  }
  .blog-containers{
    margin: 50px;
  }
  .blog-hero {
    height: 650px;
  }
  .blog-btns{
    gap: 50px;
  }
  .blog-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 1140px) {
 
  .blog-heading {
    font-size: 30px;
  }
  .blog-para {
    font-size: 18px;
    width: 230px;
    line-height: 23px;
  }
  .blog-hero {
    height: 500px;
  }
  .blog-hero-h1 {
    top: 300px;
  }
  .blog-btns{
    gap: 45px;
  }
}
@media screen and (max-width: 838px) {
  .blog-hero-h1 {
    font-size: 55px;
    width: 60%;
    left: 20%;
  }
  .blogcol {
    height: auto;
  }
  .blog-container {
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 120px;
    padding: 60px 0;
  }
  .blog-containers {
    width: 100%;
  }
  .blog-container-content {
    height: auto;
  }
  .blog-imgs {
    width: 420px;
    height: auto;
  }
  .link-imgs {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .blog-container-content {
    width: 50%;
  }
  .blog-heading {
    font-size: 30px;
  }
  .blog-para {
    font-size: 18px;
    width: 90%;
    line-height: 23px;
  }
  .blog-hero-h1 {
    top: 250px;
  }
  .blog-hero {
    height: 600px;
  }
  .blog-btns{
    gap: 40px;
  }
}
@media screen and (max-width: 768px) {
  .blog-hero-h1 {
    font-size: 55px;
    width: 400px;
    left: 6.7%;
    top: 200px;
    text-align: left;
  }
  .blog-hero {
    height: 500px;
  }
  .blog-btns {
    gap: 20px;
  }
  .blog-btn-content {
    font-size: 20px;
  }
  .blog-imgs{
    opacity: 1;
  }
}
@media screen and (max-width: 428px) {
  .blog-hero-h1 {
    font-size: 45px;
    width: 90%;
    line-height: 60px;
    left: 6.7%;
    top: 200px;
  }
  .blog-btns {
    gap: 15px;
  }
  .blog-btn-content {
    font-size: 16px;
  }
  .blog-imgs {
    width: 95%;
    height: auto;
  }
  .blog-content-section {
    height: auto;
  }
  .blog-container-content {
    width: 90%;
  }
  .blog-hero {
    height: 450px;
  }
}
