.widthhh {
  max-width: 1450px;
  flex-wrap: wrap;
}

.card111 {
  height: 601.0874633789062px;
  width: 390.37213134765625px;
  position: relative;
  border-radius: 13.07215690612793px;
  background: #111111;
  background-repeat: no-repeat;
  background-size: 400px;
  background-position: -1 0px 0px;
  // opacity: 0;
  transition: all 0.5s ease-in-out;
  margin-left: 99px;
  border-radius: 13.75px;
  background-image: url("../images/img1.png");
}
.MANGO {
  height: 601.0874633789062px;
  width: 390.37213134765625px;
  position: relative;
  top: 0px;
  border-radius: 13.07215690612793px;
  background: #111111;
  background-size: 400px;
  background-repeat: no-repeat;
  border-radius: 13.75px;
  background-image: url("../images/Mask\ group\ 1.png");

  background-position: -0px 0px;
  transition: all 0.5s ease-in-out;
  margin: 0px 40px;
}
.Willium {
  height: 601.0874633789062px;

  width: 390.37213134765625px;
  position: relative;
  border-radius: 13.07215690612793px;
  background: #111111;
  background-size: 400px;
  border-radius: 13.75px;

  background-repeat: no-repeat;
  background-position: -10px 0px;
  transition: all 0.5s ease-out;
  background-image: url("../images/img2.png");
}
.Kernel {
  height: 601.0874633789062px;
  width: 390.37213134765625px;
  position: relative;
  border-radius: 13.07215690612793px;
  border-radius: 13.75px;

  background: #111111;
  background-repeat: no-repeat;
  background-position: -50px 0px;
  transition: all 0.5s ease-out;
  background-image: url("../images/image\ 17\ \(1\).png");
}
.klub {
  height: 601.0874633789062px;
  width: 390.37213134765625px;
  position: relative;
  border-radius: 13.07215690612793px;
  background: #111111;
  border-radius: 13.75px;

  background-size: 400px;
  background-repeat: no-repeat;
  background-position: -0px 0px;
  transition: all 0.5s ease-out;
  margin: 0px 40px;
  background-image: url("../images/image\ 17.png");
}
.Lyra {
  height: 601.0874633789062px;
  border-radius: 13.75px;

  width: 390.37213134765625px;
  position: relative;
  border-radius: 13.07215690612793px;
  background: #111111;
  background-size: 400px;
  background-repeat: no-repeat;
  background-position: -0px 0px;
  transition: all 0.5s ease-out;
  background-image: url("../images/image\ 17\ \(2\).png");
}
.studio {
  height: 601.0874633789062px;
  width: 390.37213134765625px;
  position: relative;
  border-radius: 13.07215690612793px;
  border-radius: 13.75px;

  background: #111111;
  background-size: 480px;
  background-repeat: no-repeat;
  background-position: -80px -100px;
  transition: all 0.5s ease-out;
  margin: 0px 40px;
  background-image: url("../images/image\ 17\ \(4\).png");
}
.deel {
  height: 601.0874633789062px;
  width: 390.37213134765625px;
  left: 0px;
  border-radius: 13.07215690612793px;
  background: #111111;
  margin-left: 100px;
  background-size: 480px;
  background-repeat: no-repeat;
  background-position: -30px -100px;
  transition: all 0.5s ease-out;
  background-image: url("../images/image\ 17.svg");
}
.exploree {
  height: 601.0874633789062px;
  width: 390.37213134765625px;
  position: relative;
  top: 0px;
  margin-left: 99px;
  border-radius: 13.07215690612793px;
  background: #111111;
  background-size: 1480px;
  background-repeat: no-repeat;
  background-position: -630px -100px;
  transition: all 0.5s ease-out;
}
.exploree:hover .extra {
  font-weight: 900;
  color: #000;
}
.hidee:hover {
  // visibility: hidden;
  opacity: 0;
  visibility: visible;
  opacity: 1;
  transition: all 0.01s ease-in-out;
  background: #111111;
}
.hidee:hover .colo,
.wcw {
  // visibility: hidden;
  opacity: 0;
  visibility: visible;
  opacity: 1;
  transition: all 0.01s ease-in-out;
  // background: #111111;
}
.hidee:hover .wcw {
  // visibility: hidden;
  opacity: 0;
  visibility: visible;
  opacity: 1;
  transition: all 0.01s ease-in-out;
  // background: #111111;
}
.card111:hover .colo {
  // visibility: visible;
  // opacity: 1;
  // transition: all 0.01s ease-in-out;
  // background: #111111;

  // background-image: url("../images/img1.png");
}
.Willium:hover {
  // background-image: url("../images/img2.png");
}
.MANGO:hover {
  // background-image: url("../images/Mask\ group\ 1.png");
}
.klub:hover {
  // background-image: url("../images/image\ 17.png");
}
.Kernel:hover {
  // background-image: url("../images/image\ 17\ \(1\).png");
}
.studio:hover {
  // background-image: url("../images/image\ 17\ \(4\).png");
}
.deel:hover {
  // background-image: url("../images/image\ 17.svg");
}
.Lyra:hover {
  // background-image: url("../images/image\ 17\ \(2\).png");
}
.exploree:hover {
  background: rgb(232, 202, 33);
  transition: all 0.5s ease-in-out;
  color: #000;
  border: none;
}

.colo {
  visibility: hidden;
  opacity: 0;
  transition: all 0.01s ease-in-out;
}
.wcw {
  font-size: 2.5rem;
  visibility: hidden;
}

.wcww {
  font-size: 2.5rem;
}

.btn {
  width: 70%;
  margin-left: 15%;
  background-color: rgb(232, 202, 33);
  // border: none;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
  border-radius: 72px;
  color: #000;
}
.hidee:hover .btn {
  width: 100%;
  // border: 1px solid rgb(255, 255, 255);
  border-radius: 72px;
  // border: 72px;
  transition: all 0.5s ease-in-out;
  // color: #000;
  margin-left: 0;
  color: #000;
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
.card1111 {
  margin-left: 99px;
}

.testwithfalse {
  display: block;
  top: 0;
  left: 0%;
  width: calc(550px);
  height: 100vh;
  min-height: 1500px;
  margin-top: -499px;
  margin-left: 130px;
  overflow-y: hidden;
  overflow-x: scroll;
  transform: rotate(-90deg) translateY(450px);
  transform-origin: center center;
  padding: 25px 0 0 0;
  .hidee {
    display: block;
    padding: 35px;
    margin-top: 0;
    transform: rotate(90deg);
    transform-origin: center center;
    width: 390px;
    height: 602px;
    margin: -140px 95px;
    // overflow: hidden;
  }
}
.test {
  display: block;

  top: 0;
  left: 0%;
  width: calc(550px);
  height: 100vh;
  min-height: 1500px;

  margin-top: -499px;
  margin-left: 130px;
  overflow-y: auto;
  overflow-x: hidden;
  transform: rotate(-90deg) translateY(450px);
  transform-origin: center center;
  padding: 25px 0 0 0;
}

.test {
  .hidee {
    display: block;
    padding: 35px;
    margin-top: 0;
    transform: rotate(90deg);
    transform-origin: center center;
    width: 390px;
    height: 602px;
    margin: -140px 95px;
    // overflow: hidden;
  }
}

@media (max-width: 1300px) {
  .test {
    top: 0;
    left: 0%;
    width: calc(750px);
    height: 100vh;
    min-height: 1000;

    margin-top: -299px;
    margin-left: 109px;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(0px);
    transform-origin: center center;
    padding: 25px 0 0 0;
  }
}
@media (max-width: 1090px) {
  .card111 {
    height: 601.0874633789062px;
    width: 390.37213134765625px;
    left: 0px;
    top: 0px;
    border-radius: 13.07215690612793px;
    background-size: 780px;
    background-repeat: no-repeat;
    background-position: -180px -100px;
    transition: all 0.5s ease-in-out;
    margin-left: 0px;
  }
  .test {
    top: 0;
    left: 0%;
    width: calc(602px);
    height: 43vh;
    min-height: 650px;
    margin-top: -299px;
    margin-left: 109px;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(0px);
    transform-origin: center center;
    padding: 25px 0 0 0;
  }
  .hidee {
    margin: 20px;
  }
}

@media (max-width: 768px) {
  .card111 {
    background-size: 480px;
    background-repeat: no-repeat;
    background-position: -30px 0px;
    transition: all 0.5s ease-in-out;
    margin-left: 0px;
  }
  .test {
    top: 0;
    left: 0%;
    width: 410px;
    height: 70vh;
    min-height: 429px;
    margin-bottom: 200px;
    margin-top: -199px;
    margin-left: -119px;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(100px);
    transform-origin: center center;
    padding: 25px 0 0 0;
  }
  .hidee {
    width: 390px;
    height: 100%;
    margin-top: 0;
  }
}
@media (max-width: 435px) {
  .test {
    top: 0;
    left: 0%;
    width: calc(700px);
    height: 43vh;
    min-height: 400px;
    margin-bottom: 250px;
    margin-top: -250px;
    margin-left: -165px;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(10px);
    transform-origin: center center;
    padding: 43px 0 0 0;
  }
  .hidee {
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
}
@media (max-width: 330px) {
  .test {
    top: 0;
    left: 0%;
    width: calc(750px);
    height: 43vh;
    min-height: 300px;
    margin-bottom: 250px;
    margin-top: -250px;
    margin-left: -218px;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg) translateY(0px);
    transform-origin: center center;
    padding: 43px 0 0 0;
  }
  .hidee {
    width: 100%;
    height: 100%;
    margin-top: 0;
  }
}
