@font-face {
    font-family: graphikthin;
    src: url(./GraphikThin.otf);
}
@font-face {
    font-family: graphik;
    src: url(./graphik.otf);
}
*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    font-family: graphikthin;
    background-color: black;
    scroll-behavior: smooth;
} 
@media screen and (max-width:1000px){
    .nav_list{
        padding: 25px 45px 0px;
    }
    .logo{
        width: 5em;
        height: 3em;
        transition: 0.3s;
    }
    .menu{
        width:2.2em;
        height: 0.5em;
    }
    .nav_logo{
        bottom: 30px;
    }
    .nav-menu{
        width: 2.2em;
        top: 7vh;
        margin-right: 55px;
    }
    .details{
        top: 150px;
        left: 130px;
    }
    #ftrh1{
        font-size:100px;
    }
}
@media screen and (max-width:750px){
    .nav_list{
    padding: 25px 25px 0px;
    }
    .nav-menu{
        top: 7vh;
        margin-right:35px ;
    }
    .slide_nav_list{
        margin-right: 10px;
    }
    .details{
        top: 120px;
        left: 50px;
    }
    #ftrh1{
        font-size:70px;
    }
}