@font-face {
    font-family: graphikthin;
    src: url(./GraphikThin.otf);
}
@font-face {
    font-family: graphik;
    src: url(./graphik.otf);
}
*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    font-family: graphikthin;
    background-color: black;
    scroll-behavior: smooth;
} 