@font-face {
  font-family: graphikthin;
  src: url(./GraphikThin.otf);
}

/* */
@font-face {
  font-family: graphik;
  src: url(./Graphik-Regular-Trial.otf);
}
@font-face {
  font-family: graphik2;
  src: url(./graphik.otf);
}
* {
  margin: 0;
  padding: 0;
  color: white;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
body {
  font-family: graphikthin;
  background-color: #090909;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}
